# Directives are registered in the order they should be
# executed.
#
# Ordering is VERY important. Every plugin will
# feel the effects of all other plugin below
# (after) them during a request, but they must not
# care what plugin above them are doing.

# How to rebuild with updated plugin configurations:
# Modify the list below and run `go gen && go build`

# The parser takes the input format of
#     <plugin-name>:<package-name>
# Or
#     <plugin-name>:<fully-qualified-package-name>
#
# External plugin example:
# log:github.com/coredns/coredns/plugin/log
# Local plugin example:
# log:log

tls:tls
bind:bind
debug:debug
pprof:pprof
prometheus:metrics
errors:errors
log:log
ratelimit:bit.adguard.com/dns/adguard-internal-dns/coredns_plugin/ratelimit
refuseany:bit.adguard.com/dns/adguard-internal-dns/coredns_plugin/refuseany
dnsfilter:bit.adguard.com/dns/adguard-internal-dns/coredns_plugin
cache:cache
rewrite:rewrite
template:template
file:file
forward:forward
